body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    padding: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
}


thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}


th, td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}




tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

tbody tr:last-child {
    border-bottom: 2px solid #009879;
}